button:hover {
  cursor: pointer;
}

.header__subtitle {
  display: block;
}

.button-block {
  display: block;
  width: 100%;
}


.drinks {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.drink {
  flex: 0 0 300px;
}
